.clickable {
  cursor: pointer;
}
aside {
  height: 100%;
  position: fixed;
  display: block;
  float: left;
  width: 220px;
  background: #333;
}
aside h3 {
  color: #aaa;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 10px 10px;
}
aside .side-menu-nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
aside .side-menu-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
aside .side-menu-nav ul ul a {
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.1);
}
aside .side-menu-nav ul a {
  padding: 10px 10px;
  color: #aaa;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
aside .side-menu-nav ul li,
aside .side-menu-nav ul a {
  text-decoration: none;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page {
  position: inherit;
  margin: 0 0 0 220px;
  padding: 10px 0 0 0;
  border-left: 1px solid #e7e7e7;
}
.card-list .pagination {
  margin: -5px 0;
}
.custom-mana-checkbox label {
  display: initial;
}
.mana-checkbox {
  display: none;
}
.mana-checkbox + span:before {
  position: relative;
  top: 4px;
  display: inline-block;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  cursor: pointer;
}
.mana-checkbox:checked + span:before {
  opacity: 1;
}
.mana-checkbox.w + span:before {
  content: url('http://mtgimage.com/symbol/mana/w/32.png');
}
.mana-checkbox.u + span:before {
  content: url('http://mtgimage.com/symbol/mana/u/32.png');
}
.mana-checkbox.b + span:before {
  content: url('http://mtgimage.com/symbol/mana/b/32.png');
}
.mana-checkbox.g + span:before {
  content: url('http://mtgimage.com/symbol/mana/g/32.png');
}
.mana-checkbox.r + span:before {
  content: url('http://mtgimage.com/symbol/mana/r/32.png');
}
.mana {
  position: relative;
}
.mana img {
  margin: 0 1px;
}
.input-label {
  font-size: 0.875rem;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
}
.valign-bottom {
  position: absolute;
  bottom: 0;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.import-dialog,
.export-dialog {
  /* to hide the checkbox itself */
  /* unchecked icon */
  /* space between checkbox and label */
  /* checked icon */
  /* allow space for check mark */
}
.import-dialog input.no-transition,
.export-dialog input.no-transition {
  transition: inherit;
}
.import-dialog input.half-width,
.export-dialog input.half-width {
  width: 50%;
  display: inline-block;
}
.import-dialog input[type=checkbox],
.export-dialog input[type=checkbox] {
  display: none;
}
.import-dialog input[type=checkbox] + label:before,
.export-dialog input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}
.import-dialog input[type=checkbox] + label:before,
.export-dialog input[type=checkbox] + label:before {
  content: "\f096";
}
.import-dialog input[type=checkbox] + label:before,
.export-dialog input[type=checkbox] + label:before {
  letter-spacing: 5px;
}
.import-dialog input[type=checkbox]:checked + label:before,
.export-dialog input[type=checkbox]:checked + label:before {
  content: "\f046";
}
.import-dialog input[type=checkbox]:checked + label:before,
.export-dialog input[type=checkbox]:checked + label:before {
  letter-spacing: 3px;
}
