.input-label {
  font-size: 0.875rem;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
}

.clickable {
  cursor: pointer;
}

html, body, body > .page, .off-canvas-wrap { height:100%; }
.off-canvas-wrap { overflow-y: scroll; }
.inner-wrap { min-height: 100%; }
