.mana-checkbox {
  display:none;
}

.mana-checkbox + span:before {
  position: relative;
  top: 4px;
  display: inline-block;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  cursor: pointer;
}

.mana-checkbox:checked + span:before {
  opacity: 1;
}

.mana-checkbox.w + span:before {
  content: url('http://mtgimage.com/symbol/mana/w/32.png');
}

.mana-checkbox.u + span:before {
  content: url('http://mtgimage.com/symbol/mana/u/32.png');
}

.mana-checkbox.b + span:before {
  content: url('http://mtgimage.com/symbol/mana/b/32.png');
}

.mana-checkbox.g + span:before {
  content: url('http://mtgimage.com/symbol/mana/g/32.png');
}

.mana-checkbox.r + span:before {
  content: url('http://mtgimage.com/symbol/mana/r/32.png');
}
