<span class="right">
  <span class="label label-warning" ng-class="{'clickable': (count > 0)}" ng-click="removeCard($event, card.id)"><i class="fa fa-minus"></i></span>
  <span class="label label-default">{{count}}</span>
  <span class="label label-success clickable" ng-click="addCard($event, card.id)"><i class="fa fa-plus"></i></span>
</span>
