@import "mixins";
@import "menu";
@import "main-page-layout";
@import "card-list";
@import "mana-select";
@import "mana-cost";

.input-label {
  font-size: 0.875rem;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
}

.valign-bottom {
  position: absolute;
  bottom: 0;
}
