<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body ng-app="mtgApp">
<div class="wrapper" ng-controller="UtilController">
  <div ng-if="appReady">
    <aside class="side-menu" ng-controller="MenuController">
      <h3>MTG App</h3>
      <nav class="side-menu-nav">
        <ul id="menu" metis-menu data-menu-id="menu">
          <li ui-sref-active="active">
            <a ui-sref="card-explorer"><i class="fa fa-search fa-fw"></i> Explorer</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="own-cards"><i class="fa fa-star fa-fw"></i> Own Cards</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="deck-list"><i class="fa fa-list fa-fw"></i> Deck List</a>
          </li>
          <li>
            <a><i class="fa fa-chevron-right fa-fw"></i> Decks</a>
            <ul>
              <li ui-sref-active="active" ng-repeat="deck in allDecks">
                <a ui-sref="deck-builder({deckId: deck.id})">{{deck.name}}</a>
              </li>
            </ul>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="databases"><i class="fa fa-save fa-fw"></i> Import/Export</a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
  <div class="container-fluid" ng-if="!appReady">
    <div class="row">
      <div class="col-xs-12">
        <h4>{{progress.steps[progress.currentStep].description}}</h4>
        <progressbar max="progress.overallCount" value="progress.complete"><span style="color:black; white-space:nowrap;">{{progress.complete}} / {{progress.overallCount}}</span></progressbar>
      </div>
    </div>
  </div>
  <div class="page" ng-if="appReady">
      <div class="container-fluid" ui-view></div>
  </div>
</div>
</body>
</html>
