<div class="modal-header">
  <h3 >{{card.name}}
        <span ng-if="card.power && card.toughness">
          {{card.power}}/{{card.toughness}}
        </span>
    <div class="pull-right">
      <mana-cost x-mana-cost="{{card.manaCost}}" x-size="24"></mana-cost>
    </div>
  </h3>
</div>
<div class="modal-body">
  <div class="row" style="height:600px !important;">
    <div class="col-xs-6">
      <img id="modalCardImage" ng-src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{card.multiverseid}}&type=card" alt="{{card.name}}" style="height: 600px;">
    </div>
    <div class="col-xs-6" style="height: 100%;">
      <div class="row">
        <div class="col-xs-12"><h4>{{card.type}}</h4></div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <card-text data-text="{{card.text}}"></card-text>
        </div>
      </div>
      <div class="row valign-bottom" ng-if="card.flavor">
        <div class="col-xs-12">
          <em class="text-muted">{{card.flavor}}</em>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <card-counter x-card-id="{{card.multiverseid}}" ></card-counter>
</div>


