<div class="row">
  <div class="large-12 columns">
    <form>
      <div class="row">
        <div class="large-4 columns">
          <label>Search by name:
            <input type="search" placeholder="Search by card name..." ng-model="searchValue"/>
          </label>
        </div>
        <div class="large-3 columns">
          <label>Filter by color:
            <div class="custom-mana-checkbox">
              <label>
                <input type="checkbox" class="mana-checkbox w" ng-model="colors.White">
                <span></span>
              </label>
              <label>
                <input type="checkbox" class="mana-checkbox u" ng-model="colors.Blue">
                <span></span>
              </label>
              <label>
                <input type="checkbox" class="mana-checkbox b" ng-model="colors.Black">
                <span></span>
              </label>
              <label>
                <input type="checkbox" class="mana-checkbox r" ng-model="colors.Red">
                <span></span>
              </label>
              <label>
                <input type="checkbox" class="mana-checkbox g" ng-model="colors.Green">
                <span></span>
              </label>
            </div>
          </label>
        </div>
        <div class="large-2 columns">
          <label tooltip="Filter by the Combined Mana Cost (0 shows all)" tooltip-placement="bottom">CMC:
            <input type="number" min="1" max="30" maxlength="2" ng-model="combinedManaCost">
          </label>
        </div>
        <div class="large-2 columns">
          <label tooltip="Limit the displayed results" tooltip-placement="bottom">Limit Results:
            <input type="number" min="1" max="100" maxlength="3" ng-model="maxResultLength">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 column">
          <div class="input-label">Limit to set:
            <ui-select multiple ng-model="scope.selectedSets" theme="select2" style="width:99.9%;">
              <ui-select-match placeholder="Select set...">
                <set-symbol data-set-code="{{$item.code}}" data-size="24"></set-symbol>
                {{$item.name}}
              </ui-select-match>
              <ui-select-choices repeat="set in setList | propsFilter: {name: $select.search}">
                <div ng-bind-html="set.name | highlight: $select.search"></div>
                <set-symbol data-set-code="{{set.code}}" data-size="16"></set-symbol>
                <i>{{set.releaseDate}}</i>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="pagination-centered">
      <pagination
        total-items="totalItems"
        page="currentPage"
        max-size="10"
        boundary-links="true"
        rotate="false"
        num-pages="numPages"
        items-per-page="maxResultLength"
        class="pagination"
        ></pagination>
    </div>
    <code>Page: {{currentPage}} / {{numPages}} Cards: {{(currentPage - 1) * maxResultLength}} - {{currentPage * maxResultLength}} / {{totalItems}}</code>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <table class="large-12">
      <thead>
        <tr>
          <th>Set</th>
          <th>Name</th>
          <th>Type</th>
          <th>Mana Cost</th>
          <th>I own</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="card in cards track by $index" ng-click="showCardModal(card)">
          <td>
            <set-symbol x-set-code="{{card.setCode}}" x-size="24" x-show-tip="true" x-tip-text="{{card.setName}}" x-tip-appearance="right"></set-symbol>
          </td>
          <td>
            {{card.name}}
          </td>
          <td>
            {{card.type}}
          </td>
          <td>
            <mana-cost x-mana-cost="{{card.manaCost}}" x-size="16"></mana-cost>
            <span ng-if="card.cmc > 0" class="label secondary right">{{card.cmc}}</span>
          </td>
          <td>
            <own-card-count x-card-id="{{card.multiverseid}}"></own-card-count>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <code>Page: {{currentPage}} / {{numPages}} Cards: {{(currentPage - 1) * maxResultLength}} - {{currentPage * maxResultLength}} / {{totalItems}}</code>
    <div class="pagination-centered">
      <pagination
        total-items="totalItems"
        page="currentPage"
        max-size="10"
        boundary-links="true"
        rotate="false"
        num-pages="numPages"
        items-per-page="maxResultLength"
        class="pagination"
        ></pagination>
    </div>
  </div>
</div>
