  <h3 >{{card.name}}
    <span ng-if="card.power && card.toughness">
      <img ng-src="http://mtgimage.com/symbol/other/power.svg" style="height: 24px !important;"/>
      {{card.power}} /
      <img ng-src="http://mtgimage.com/symbol/other/toughness.svg" style="height: 24px !important;"/>
      {{card.toughness}}
    </span>
    <div class="right">
      <mana-cost x-mana-cost="{{card.manaCost}}" x-size="24"></mana-cost>
    </div>
  </h3>
  <div class="row">
    <div class="small-6 columns">
      <img class="col-xs-12" ng-src="http://mtgimage.com/set/{{card.setCode}}/{{card.name}}.hq.jpg" alt="{{card.name}}" width="480" height="680">
    </div>
    <div class="small-6 columns">
      <div class="row">
        <div class="small-12 columns"><h4>{{card.type}}</h4></div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <card-text data-text="{{card.text}}"></card-text>
        </div>
      </div>
      <div class="row" ng-if="card.flavor">
        <div class="small-12 columns">
          <i>{{card.flavor}}</i>
        </div>
      </div>
    </div>
  </div>

  <card-counter x-card-id="{{card.multiverseid}}" ></card-counter>
  <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
