<h2>Card Explorer</h2>
<div class="row card-list">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-12">
            <form class="form-inline" role="form">
              <div class="form-group">
                <label for="cardNameSearch">Search a card: </label>
                <input type="search" id="cardNameSearch" class="form-control input-sm" placeholder="Enter card name" ng-model="scope.cardName" tooltip="Search a card by name" tooltip-placement="bottom"/>
              </div>
              <div class="form-group pull-right">
                <div class="input-group">
                  <label for="resultNumberLimit" class="sr-only" >Displayed Results:</label>
                  <input type="number" id="resultNumberLimit" class="form-control input-sm" min="1" max="100" maxlength="3" ng-model="scope.maxResultLength" tooltip="Limit the displayed results" tooltip-placement="bottom" tooltip-append-to-body="true">
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-sm" type="button" ng-click="filterCollapsed = !filterCollapsed">
                      Filter settings:
                      <i class="fa fa-fw" ng-class="{'fa-chevron-down': !filterCollapsed, 'fa-chevron-right': filterCollapsed}"></i>
                    </button>
                  </span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="panel-body" uib-collapse="filterCollapsed">
        <card-filter data-db="db" data-filtered-cards="filteredCards" data-filter-updated="filterUpdateTimeStamp" data-card-name="cardName"></card-filter>
      </div>
      <table class="table table-hover table-condensed table-striped table-responsive table-bordered">
        <thead>
          <tr>
            <th>Set</th>
            <th>Name</th>
            <th>Type</th>
            <th>Mana Cost</th>
            <th>I own</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="card in cards track by $index" ng-click="showCardModal(card)" class="clickable">
            <td>
              <card-set-symbol data-card="card" data-size="2x" data-tip-text="{{card.setName}}" data-tip-appearance="right"></card-set-symbol>
            </td>
            <td>
              {{card.name}}
              <span class="pull-right" ng-if="card.power && card.toughness">
                {{card.power}} /
                {{card.toughness}}
              </span>
            </td>
            <td>
              {{card.type}}
            </td>
            <td>
              <mana-cost x-mana-cost="{{card.manaCost}}" x-size="16"></mana-cost>
              <span ng-if="card.cmc > 0" class="badge pull-right">{{card.cmc}}</span>
            </td>
            <td>
              <card-counter x-card-id="{{card.multiverseid}}"></card-counter>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer">
        Page: {{currentPage}} / {{numPages}} Cards: {{(currentPage - 1) * maxResultLength}} - {{currentPage * maxResultLength}} / {{totalItems}}
        <div class="pull-right">
          <pagination
            total-items="totalItems"
            ng-model="currentPage"
            max-size="5"
            class="pagination-sm"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            first-text="&laquo;"
            last-text="&raquo;"
            boundary-links="true"
            rotate="false"
            items-per-page="maxResultLength"
            num-pages="numPages">
          </pagination>
        </div>
      </div>
    </div>
  </div>
</div>
