<div class="row">
  <div class="large-12 column">
    <label for="deckName">Deck name:
      <input id="deckName" type="text" ng-model="deck.options.name">
    </label>
  </div>
  <div class="large-12 column">
    Main deck (<i class="fi-crown"></i>): <span class="label" ng-class="{'warning': (deck.getCardCount() !== 60)}">{{deck.getCardCount()}}</span>
    Sideboard (<i class="fi-shield"></i>): <span class="label" ng-class="{'warning': (deck.getSideboardCount() !== 15)}">{{deck.getSideboardCount()}}</span>
    <span class="right">
      <span class="label label-info clickable" ng-class="{'success': typeFilter === type}" ng-repeat="(type, count) in deck.getCountByCardType()" style="margin: 0 1px;" ng-click="filterByType(type)">
        <img ng-repeat="typeIcon in type.split('-')" ng-src="http://mtgimage.com/symbol/other/{{typeIcon}}.svg"
             style="height: 12px !important"/> {{type}}: {{count}}
      </span>
    </span>
  </div>
  <div class="large-12 column">
    <span class="right">
      <span class="label" ng-repeat="(type, legal) in deck.getLegalities()" style="margin: 0 1px;" ng-class="{'success': (legal === 'Legal'), 'warning': (legal === 'Restricted'), 'alert': (legal === 'Banned')}">
        {{type}}
      </span>
    </span>
  </div>
</div>

<div class="row">
  <div class="large-12 column">
    <tabset>
      <tab heading="Cards">
        <table class="large-12">
          <thead>
          <tr>
            <th ng-click="orderPredicate = 'setCode'; orderReverse=!orderReverse" class="clickable">
              Set <i ng-if="orderPredicate === 'setCode'" class="right" ng-class="{'fi-arrow-down': !orderReverse, 'fi-arrow-up': orderReverse}"></i>
            </th>
            <th ng-click="orderPredicate = 'name'; orderReverse=!orderReverse" class="clickable">
              Name <i ng-if="orderPredicate === 'name'" class="right" ng-class="{'fi-arrow-down': !orderReverse, 'fi-arrow-up': orderReverse}"></i>
            </th>
            <th ng-click="orderPredicate = 'types'; orderReverse=!orderReverse" class="clickable">
              Type <i ng-if="orderPredicate === 'types'" class="right" ng-class="{'fi-arrow-down': !orderReverse, 'fi-arrow-up': orderReverse}"></i>
            </th>
            <th ng-click="orderPredicate = 'cmc'; orderReverse=!orderReverse" class="clickable">
              Mana <i ng-if="orderPredicate === 'cmc'" class="right" ng-class="{'fi-arrow-down': !orderReverse, 'fi-arrow-up': orderReverse}"></i>
            </th>
            <th>Count</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
            <tr ng-repeat="card in cards | orderBy:orderPredicate:orderReverse | cardTypeFilter:typeFilter" ng-click="showCardModal(card)" class="clickable">
              <td>
                <set-symbol data-card="card" data-size="24" data-show-tip="true" data-tip-text="{{card.setName}}"
                            data-tip-appearance="right"></set-symbol>
              </td>
              <td>
                {{card.name}}
                <span class="right">
                  <span ng-if="card.power && card.toughness">
                    <img ng-src="http://mtgimage.com/symbol/other/power.svg" style="height: 20px !important;"/>
                    {{card.power}} /
                    <img ng-src="http://mtgimage.com/symbol/other/toughness.svg" style="height: 20px !important;"/>
                    {{card.toughness}}
                  </span>
                  <own-card-count data-card-id="{{card.multiverseid}}"></own-card-count>
                </span>
              </td>
              <td>
                {{card.type}}
              </td>
              <td>
                <mana-cost data-mana-cost="{{card.manaCost}}" data-size="16"></mana-cost>
                <span ng-if="card.cmc > 0" class="label secondary right">{{card.cmc}}</span>
              </td>
              <td>
                <span class="label secondary"><i class="fi-crown"></i> {{deck.getCountOf(card.multiverseid)}}</span>
                <span class="label secondary"><i class="fi-shield"></i> {{deck.getSideboardCountOf(card.multiverseid)}}</span>
              </td>
              <td>
                <span class="label success" tooltip="Add 1 card" tooltip-animation="false" ng-click="addCard($event,card.multiverseid)">
                  <i class="fi-plus"></i>
                </span>
                <span class="label warning" tooltip="Drop 1 card" tooltip-animation="false" ng-click="dropCard($event,card.multiverseid)">
                  <i class="fi-minus"></i>
                </span>
                <span class="label alert" tooltip="Drop all cards" tooltip-animation="false" ng-click="dropAll($event,card.multiverseid)">
                  <i class="fi-x"></i>
                </span>
                <span class="label" tooltip="Move card to sideboard" tooltip-animation="false" ng-click="moveCardToSideboard($event,card.multiverseid)">
                  <i class="fi-arrow-right"></i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </tab>
      <tab heading="Sideboard">
        <div class="row">
          <div class="large-12 column">
            <table class="large-12">
              <thead>
              <tr>
                <th ng-click="orderPredicate = 'setCode'; orderReverse=!orderReverse" class="clickable">
                  Set <i ng-if="orderPredicate === 'setCode'" class="right" ng-class="{'fi-arrow-down': !orderReverse, 'fi-arrow-up': orderReverse}"></i>
                </th>
                <th ng-click="orderPredicate = 'name'; orderReverse=!orderReverse" class="clickable">
                  Name <i ng-if="orderPredicate === 'name'" class="right" ng-class="{'fi-arrow-down': !orderReverse, 'fi-arrow-up': orderReverse}"></i>
                </th>
                <th ng-click="orderPredicate = 'types'; orderReverse=!orderReverse" class="clickable">
                  Type <i ng-if="orderPredicate === 'types'" class="right" ng-class="{'fi-arrow-down': !orderReverse, 'fi-arrow-up': orderReverse}"></i>
                </th>
                <th ng-click="orderPredicate = 'cmc'; orderReverse=!orderReverse" class="clickable">
                  Mana <i ng-if="orderPredicate === 'cmc'" class="right" ng-class="{'fi-arrow-down': !orderReverse, 'fi-arrow-up': orderReverse}"></i>
                </th>
                <th>Count</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="sbCard in sideboard | orderBy:orderPredicate:orderReverse | cardTypeFilter:typeFilter" ng-click="showCardModal(sbCard)" class="clickable">
                <td>
                  <set-symbol data-card="sbCard" data-size="24" data-show-tip="true" data-tip-text="{{sbCard.setName}}" data-tip-appearance="right"></set-symbol>
                </td>
                <td>
                  {{sbCard.name}}
                  <span class="right">
                    <span ng-if="sbCard.power && sbCard.toughness">
                      <img ng-src="http://mtgimage.com/symbol/other/power.svg" style="height: 20px !important;"/>
                      {{sbCard.power}} /
                      <img ng-src="http://mtgimage.com/symbol/other/toughness.svg" style="height: 20px !important;"/>
                      {{sbCard.toughness}}
                    </span>
                    <own-card-count data-card-id="{{sbCard.multiverseid}}"></own-card-count>
                  </span>
                </td>
                <td>
                  {{sbCard.type}}
                </td>
                <td>
                  <mana-cost data-mana-cost="{{sbCard.manaCost}}" data-size="16"></mana-cost>
                  <span ng-if="sbCard.cmc > 0" class="label secondary right">{{sbCard.cmc}}</span>
                </td>
                <td>
                  <span class="label secondary"><i class="fi-crown"></i> {{deck.getCountOf(sbCard.multiverseid)}}</span>
                  <span class="label secondary"><i class="fi-shield"></i> {{deck.getSideboardCountOf(sbCard.multiverseid)}}</span>
                </td>
                <td>
                  <span class="label success" tooltip="Add 1 card" tooltip-animation="false" ng-click="addCardToSideBoard($event,sbCard.multiverseid)">
                    <i class="fi-plus"></i>
                  </span>
                  <span class="label warning" tooltip="Drop 1 card" tooltip-animation="false" ng-click="dropCardFromSideBoard($event,sbCard.multiverseid)">
                    <i class="fi-minus"></i>
                  </span>
                  <span class="label alert" tooltip="Drop all cards" tooltip-animation="false" ng-click="dropAllFromSideboard($event,sbCard.multiverseid)">
                    <i class="fi-x"></i>
                  </span>
                  <span class="label" tooltip="Move card to main deck" tooltip-animation="false" ng-click="moveCardToMain($event,sbCard.multiverseid)">
                    <i class="fi-arrow-right"></i>
                  </span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </tab>
      <tab heading="Add Card">
        <div class="panel-heading">
          <div class="row">
            <div class="large-10 columns">
              <label for="cardSearch">Search card:
                <input type="search" id="cardSearch" ng-model="scope.currentSearch"/>
              </label>
            </div>
            <div class="large-2 columns">
              <label for="resultLength">Results:
                <input type="number" id="resultLength" min="0" ng-model="scope.searchResultLimit"/>
              </label>
            </div>
          </div>
        </div>
        <table class="large-12">
          <thead>
          <tr>
            <th ng-click="orderPredicate = 'setCode'; orderReverse=!orderReverse" class="clickable">
              Set <i ng-if="orderPredicate === 'setCode'" class="right" ng-class="{'fi-arrow-down': !orderReverse, 'fi-arrow-up': orderReverse}"></i>
            </th>
            <th ng-click="orderPredicate = 'name'; orderReverse=!orderReverse" class="clickable">
              Name <i ng-if="orderPredicate === 'name'" class="right" ng-class="{'fi-arrow-down': !orderReverse, 'fi-arrow-up': orderReverse}"></i>
            </th>
            <th ng-click="orderPredicate = 'types'; orderReverse=!orderReverse" class="clickable">
              Type <i ng-if="orderPredicate === 'types'" class="right" ng-class="{'fi-arrow-down': !orderReverse, 'fi-arrow-up': orderReverse}"></i>
            </th>
            <th ng-click="orderPredicate = 'cmc'; orderReverse=!orderReverse" class="clickable">
              Mana <i ng-if="orderPredicate === 'cmc'" class="right" ng-class="{'fi-arrow-down': !orderReverse, 'fi-arrow-up': orderReverse}"></i>
            </th>
            <th>Deck</th>
            <th>Sideboard</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="cardToAdd in cardsToAdd | orderBy:orderPredicate:orderReverse" ng-click="showCardModal(cardToAdd)" class="clickable">
            <td>
              <set-symbol data-card="cardToAdd" data-size="24" data-show-tip="true"
                          data-tip-text="{{cardToAdd.setName}}" data-tip-appearance="right"></set-symbol>
            </td>
            <td>
              {{cardToAdd.name}}
              <span class="right">
                <span ng-if="cardToAdd.power && cardToAdd.toughness">
                  <img ng-src="http://mtgimage.com/symbol/other/power.svg" style="height: 20px !important;"/>
                  {{cardToAdd.power}} /
                  <img ng-src="http://mtgimage.com/symbol/other/toughness.svg" style="height: 20px !important;"/>
                  {{cardToAdd.toughness}}
                </span>
                <own-card-count data-card-id="{{cardToAdd.multiverseid}}"></own-card-count>
              </span>
            </td>
            <td>
              {{cardToAdd.type}}
            </td>
            <td>
              <mana-cost data-mana-cost="{{cardToAdd.manaCost}}" data-size="16"></mana-cost>
              <span ng-if="cardToAdd.cmc > 0" class="label secondary right">{{cardToAdd.cmc}}</span>
            </td>
            <td>
              <span class="label secondary">{{deck.getCountOf(cardToAdd.multiverseid)}}</span>
              <span class="label success right" tooltip="Add 1 card" tooltip-animation="false" ng-click="addCard($event,cardToAdd.multiverseid)">
                <i class="fi-plus"></i>
              </span>
            </td>
            <td>
              <span class="label secondary">{{deck.getSideboardCountOf(cardToAdd.multiverseid)}}</span>
              <span class="label success right" tooltip="Add 1 card" tooltip-animation="false" ng-click="addCardToSideBoard($event,cardToAdd.multiverseid)">
                <i class="fi-plus"></i>
              </span>
            </td>
          </tr>
          </tbody>
        </table>
      </tab>
      <tab heading="Sample hand">
        <div class="row">
          <div class="large-12 column">
            <button class="button tiny" ng-click="shuffle()">Shuffle</button>
            <button class="button tiny" ng-click="mulligan()">Mulligan</button>
          </div>
        </div>
        <div class="row">
          <div class="large-12 column">
            <ul class="large-block-grid-4">
              <li ng-repeat="sampleCard in sampleHand track by $index">
                <img ng-src="http://mtgimage.com/set/{{sampleCard.setCode}}/{{sampleCard.name}}.jpg"
                     alt="{{sampleCard.name}}" width="150">
              </li>
            </ul>
          </div>
        </div>
      </tab>
    <tab heading="Meta">
        <div class="row">
          <div class="large-6 columns">
            <label>Mana Curve</label>
            <canvas tc-chartjs chart-type="bar" chart-data="manaCostData" chart-options="manaCostOptions"></canvas>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>
<div class="row">
  <div class="large-12 column">
    <button class="button tiny success right" ng-click="saveDeck()">Save</button>
  </div>
</div>

