<div class="row">
  <div class="col-xs-12">
    <h3 ng-if="!editname">
      {{deck.options.name}} <i class="fa fa-pencil clickable" ng-click="editName()"></i>
      <div class="pull-right">
        <img ng-repeat="color in deck.getColors()" ng-src="http://mtgimage.com/symbol/mana/{{color}}.svg" alt="" width="26px"/>
      </div>
    </h3>
    <form ng-if="editname" class="form-inline" role="form">
      <div class="form-group">
        <div class="input-group">
          <input id="deckName" type="text" class="form-control" ng-model="deck.options.name">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="saveName()">
              <i class="fa fa-save"></i>
            </button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="well well-sm">
      Main deck <i class="fa fa-flash"></i>: <span class="label" ng-class="{'label-warning': (deck.getCardCount() !== 60), 'label-success': (deck.getCardCount() === 60)}">{{deck.getCardCount()}}</span>
      Sideboard <i class="fa fa-shield"></i>: <span class="label" ng-class="{'label-warning': (deck.getSideboardCount() !== 15), 'label-success': (deck.getSideboardCount() === 15)}">{{deck.getSideboardCount()}}</span>
      <span class="pull-right">
        <span class="label" ng-repeat="(type, legal) in deck.getLegalities()" style="margin: 0 1px;" ng-class="{'label-success': (legal === 'Legal'), 'label-warning': (legal === 'Restricted'), 'label-danger': (legal === 'Banned')}">
          {{type}}
        </span>
      </span>
    </div>
    <div class="well well-sm">
      <span class="label clickable" ng-class="{'label-success': typeFilter === type, 'label-info': typeFilter !== type}" ng-repeat="(type, count) in deck.getCountByCardType()" style="margin: 0 1px;" ng-click="filterByType(type)">
        <img ng-repeat="typeIcon in type.split('-')" ng-src="http://mtgimage.com/symbol/other/{{typeIcon}}.svg"
             style="height: 12px !important"/> {{type}}: {{count}}
      </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <tabset>
      <tab heading="Cards">
        <table class="table table-hover table-condensed table-striped table-responsive table-bordered">
          <thead>
          <tr>
            <th ng-click="orderPredicate = 'setCode'; orderReverse=!orderReverse" class="clickable">
              Set <i ng-if="orderPredicate === 'setCode'" class="right fa" ng-class="{'fa-sort-alpha-asc': !orderReverse, 'fa-sort-alpha-desc': orderReverse}"></i>
            </th>
            <th ng-click="orderPredicate = 'name'; orderReverse=!orderReverse" class="clickable">
              Name <i ng-if="orderPredicate === 'name'" class="right fa" ng-class="{'fa-sort-alpha-asc': !orderReverse, 'fa-sort-alpha-desc': orderReverse}"></i>
            </th>
            <th ng-click="orderPredicate = 'types'; orderReverse=!orderReverse" class="clickable">
              Type <i ng-if="orderPredicate === 'types'" class="right fa" ng-class="{'fa-sort-alpha-asc': !orderReverse, 'fa-sort-alpha-desc': orderReverse}"></i>
            </th>
            <th ng-click="orderPredicate = 'cmc'; orderReverse=!orderReverse" class="clickable">
              Mana <i ng-if="orderPredicate === 'cmc'" class="right fa" ng-class="{'fa-sort-numeric-asc': !orderReverse, 'fa-sort-numeric-desc': orderReverse}"></i>
            </th>
            <th>Count</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
            <tr ng-repeat="card in cards | orderBy:orderPredicate:orderReverse | cardTypeFilter:typeFilter" ng-click="showCardModal(card)" class="clickable">
              <td>
                <set-symbol data-card="card" data-size="24" data-show-tip="true" data-tip-text="{{card.setName}}"
                            data-tip-appearance="right"></set-symbol>
              </td>
              <td>
                <own-card-count data-card-id="{{card.multiverseid}}"></own-card-count>
                {{card.name}}
                <span class="pull-right">
                  <span ng-if="card.power && card.toughness">
                    <img ng-src="http://mtgimage.com/symbol/other/power.svg" style="height: 20px !important;"/>
                    {{card.power}} /
                    <img ng-src="http://mtgimage.com/symbol/other/toughness.svg" style="height: 20px !important;"/>
                    {{card.toughness}}
                  </span>
                </span>
              </td>
              <td>
                {{card.type}}
              </td>
              <td>
                <mana-cost data-mana-cost="{{card.manaCost}}" data-size="16"></mana-cost>
                <span ng-if="card.cmc > 0" class="label secondary right">{{card.cmc}}</span>
              </td>
              <td>
                <span class="label label-default"><i class="fa fa-flash"></i> {{deck.getCountOf(card.multiverseid)}}</span>
                <span class="label label-default"><i class="fa fa-shield"></i> {{deck.getSideboardCountOf(card.multiverseid)}}</span>
              </td>
              <td>
                <span class="label label-success" tooltip="Add 1 card" tooltip-animation="false" ng-click="addCard($event,card.multiverseid)">
                  <i class="fa fa-plus"></i>
                </span>
                <span class="label label-warning" tooltip="Drop 1 card" tooltip-animation="false" ng-click="dropCard($event,card.multiverseid)">
                  <i class="fa fa-minus"></i>
                </span>
                <span class="label label-danger" tooltip="Drop all cards" tooltip-animation="false" ng-click="dropAll($event,card.multiverseid)">
                  <i class="fa fa-close"></i>
                </span>
                <span class="label label-info" tooltip="Move card to sideboard" tooltip-animation="false" ng-click="moveCardToSideboard($event,card.multiverseid)">
                  <i class="fa fa-arrow-right"></i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </tab>
      <tab heading="Sideboard">
        <div class="row">
          <div class="col-xs-12">
            <table class="table table-hover table-condensed table-striped table-responsive table-bordered">
              <thead>
              <tr>
                <th ng-click="orderPredicate = 'setCode'; orderReverse=!orderReverse" class="clickable">
                  Set <i ng-if="orderPredicate === 'setCode'" class="right fa" ng-class="{'fa-sort-alpha-asc': !orderReverse, 'fa-sort-alpha-desc': orderReverse}"></i>
                </th>
                <th ng-click="orderPredicate = 'name'; orderReverse=!orderReverse" class="clickable">
                  Name <i ng-if="orderPredicate === 'name'" class="right fa" ng-class="{'fa-sort-alpha-asc': !orderReverse, 'fa-sort-alpha-desc': orderReverse}"></i>
                </th>
                <th ng-click="orderPredicate = 'types'; orderReverse=!orderReverse" class="clickable">
                  Type <i ng-if="orderPredicate === 'types'" class="right fa" ng-class="{'fa-sort-alpha-asc': !orderReverse, 'fa-sort-alpha-desc': orderReverse}"></i>
                </th>
                <th ng-click="orderPredicate = 'cmc'; orderReverse=!orderReverse" class="clickable">
                  Mana <i ng-if="orderPredicate === 'cmc'" class="right fa" ng-class="{'fa-sort-numeric-asc': !orderReverse, 'fa-sort-numeric-desc': orderReverse}"></i>
                </th>
                <th>Count</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="sbCard in sideboard | orderBy:orderPredicate:orderReverse | cardTypeFilter:typeFilter" ng-click="showCardModal(sbCard)" class="clickable">
                <td>
                  <set-symbol data-card="sbCard" data-size="24" data-show-tip="true" data-tip-text="{{sbCard.setName}}"
                              data-tip-appearance="right"></set-symbol>
                </td>
                <td>
                  <own-card-count data-card-id="{{sbCard.multiverseid}}"></own-card-count>
                  {{sbCard.name}}
                <span class="pull-right">
                  <span ng-if="sbCard.power && sbCard.toughness">
                    <img ng-src="http://mtgimage.com/symbol/other/power.svg" style="height: 20px !important;"/>
                    {{sbCard.power}} /
                    <img ng-src="http://mtgimage.com/symbol/other/toughness.svg" style="height: 20px !important;"/>
                    {{sbCard.toughness}}
                  </span>
                </span>
                </td>
                <td>
                  {{sbCard.type}}
                </td>
                <td>
                  <mana-cost data-mana-cost="{{sbCard.manaCost}}" data-size="16"></mana-cost>
                  <span ng-if="sbCard.cmc > 0" class="label secondary right">{{sbCard.cmc}}</span>
                </td>
                <td>
                  <span class="label label-default"><i class="fa fa-flash"></i> {{deck.getCountOf(sbCard.multiverseid)}}</span>
                  <span class="label label-default"><i class="fa fa-shield"></i> {{deck.getSideboardCountOf(sbCard.multiverseid)}}</span>
                </td>
                <td>
                <span class="label label-success" tooltip="Add 1 card" tooltip-animation="false" ng-click="addCardToSideBoard($event,sbCard.multiverseid)">
                  <i class="fa fa-plus"></i>
                </span>
                <span class="label label-warning" tooltip="Drop 1 card" tooltip-animation="false" ng-click="dropCardFromSideBoard($event,sbCard.multiverseid)">
                  <i class="fa fa-minus"></i>
                </span>
                <span class="label label-danger" tooltip="Drop all cards" tooltip-animation="false" ng-click="dropAllFromSideboard($event,sbCard.multiverseid)">
                  <i class="fa fa-close"></i>
                </span>
                <span class="label label-info" tooltip="Move card to sideboard" tooltip-animation="false" ng-click="moveCardToMain($event,sbCard.multiverseid)">
                  <i class="fa fa-arrow-right"></i>
                </span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </tab>
      <tab heading="Add Card">
        <div class="panel panel-default card-list">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-12">
                <form class="form-inline" role="form">
                  <div class="form-group">
                    <label for="cardNameSearch">Search a card: </label>
                    <input type="search" id="cardNameSearch" class="form-control input-sm" placeholder="Enter card name" ng-model="scope.currentSearch" tooltip="Search a card by name" tooltip-placement="bottom"/>
                  </div>
                  <div class="form-group pull-right">
                    <div class="input-group">
                      <label for="resultNumberLimit" class="sr-only" >Displayed Results:</label>
                      <input type="number" id="resultNumberLimit" class="form-control input-sm" min="1" max="100" maxlength="3" ng-model="scope.maxResultLength" tooltip="Limit the displayed results" tooltip-placement="bottom" tooltip-append-to-body="true">
                      <span class="input-group-btn">
                        <button class="btn btn-default btn-sm" type="button" ng-click="filterCollapsed = !filterCollapsed">
                          Filter settings:
                          <i class="fa fa-fw" ng-class="{'fa-chevron-down': !filterCollapsed, 'fa-chevron-right': filterCollapsed}"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="panel-body" collapse="filterCollapsed">
            <card-filter data-db="db" data-filtered-cards="scope.filteredCards" data-filter-updated="scope.filterUpdateTimeStamp" data-card-name="scope.currentSearch"></card-filter>
          </div>
          <table class="table table-hover table-condensed table-striped table-responsive table-bordered">
            <thead>
            <tr>
              <th>Set</th>
              <th>Name</th>
              <th>Type</th>
              <th>Mana Cost</th>
              <th style="width: 80px;">Deck</th>
              <th style="width: 80px;">Sideboard</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="cardToAdd in cardsToAdd track by $index" ng-click="showCardModal(cardToAdd)" class="clickable">
              <td>
                <set-symbol x-card="cardToAdd" x-size="24" x-show-tip="true" x-tip-text="{{cardToAdd.setName}}" x-tip-appearance="right"></set-symbol>
              </td>
              <td>
                {{cardToAdd.name}}
              <span class="pull-right" ng-if="card.power && card.toughness">
                <img ng-src="http://mtgimage.com/symbol/other/power.svg" style="height: 20px !important;"/>
                {{cardToAdd.power}} /
                <img ng-src="http://mtgimage.com/symbol/other/toughness.svg" style="height: 20px !important;"/>
                {{cardToAdd.toughness}}
              </span>
              </td>
              <td>
                {{cardToAdd.type}}
              </td>
              <td>
                <mana-cost x-mana-cost="{{cardToAdd.manaCost}}" x-size="16"></mana-cost>
                <span ng-if="cardToAdd.cmc > 0" class="badge pull-right">{{cardToAdd.cmc}}</span>
              </td>
              <td>
                <span class="label label-default">{{deck.getCountOf(cardToAdd.multiverseid)}}</span>
                <span class="label label-default" tooltip="Add 1 card" tooltip-animation="false" ng-click="addCard($event,cardToAdd.multiverseid)">
                  <i class="fa fa-plus"></i>
                </span>
              </td>
              <td>
                <span class="label label-default">{{deck.getSideboardCountOf(cardToAdd.multiverseid)}}</span>
                <span class="label label-success" tooltip="Add 1 card" tooltip-animation="false" ng-click="addCardToSideBoard($event,cardToAdd.multiverseid)">
                  <i class="fa fa-plus"></i>
                </span>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="panel-footer">
            Page: {{currentPage}} / {{numPages}} Cards: {{(currentPage - 1) * maxResultLength}} - {{currentPage * maxResultLength}} / {{totalItems}}
            <div class="pull-right">
              <pagination
                total-items="totalItems"
                ng-model="currentPage"
                max-size="5"
                class="pagination-sm"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;"
                boundary-links="true"
                rotate="false"
                items-per-page="maxResultLength"
                num-pages="numPages">
              </pagination>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="Sample hand">
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-default btn-sm" ng-click="shuffle()">Shuffle</button>
            <button class="btn btn-default btn-sm" ng-click="mulligan()">Mulligan</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4" ng-repeat="sampleCard in sampleHand track by $index">
            <img class="img-thumbnail" ng-src="http://mtgimage.com/set/{{sampleCard.setCode}}/{{sampleCard.name}}.hq.jpg" alt="{{sampleCard.name}}" width="300">
          </div>
        </div>
      </tab>
      <tab heading="Meta">
        <div class="row">
          <div class="col-xs-6">
            <label>Mana Curve</label>
            <canvas tc-chartjs chart-type="bar" chart-data="manaCostData" chart-options="manaCostOptions"></canvas>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success pull-right" ng-click="saveDeck()">Save</button>
  </div>
</div>

